In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
all_stroke_data = 'dataset/healthcare-dataset-stroke-data.csv'
stroke_df = pd.read_csv(all_stroke_data)
stroke_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [5]:
# drop rows with empty data points
clean_file = stroke_df.dropna(how = 'any')
clean_file = clean_file[clean_file.gender != "Other"]
clean_file = clean_file[clean_file.smoking_status != "Unknown"]
clean_file = clean_file[clean_file.age >= 32]
clean_file = clean_file[clean_file.bmi >= 17.5]
clean_file = clean_file[clean_file.bmi <= 40]
clean_file = clean_file.drop(columns=['work_type', 'Residence_type'])
clean_file

,id,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...
5100,68398,Male,82.0,1,0,Yes,71.97,28.3,never smoked,0
5102,45010,Female,57.0,0,0,Yes,77.93,21.7,never smoked,0
5106,44873,Female,81.0,0,0,Yes,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,166.29,25.6,formerly smoked,0

In [6]:
# gave columns more meaningful names
clean_file = clean_file.rename(columns={"id":"ID", "gender":"Gender", "age":"Age", "hypertension":"Hypertension", "heart_disease":"HeartDisease", "ever_married":"EverMarried", "work_type":"WorkType", "Residence_type":"ResidenceType", "avg_glucose_level":"AvgGlucoseLevel", "bmi":"BMI", "smoking_status":"SmokingStatus", "stroke":"Stroke"})
clean_file

,ID,Gender,Age,Hypertension,HeartDisease,EverMarried,AvgGlucoseLevel,BMI,SmokingStatus,Stroke
0,9046,Male,67.0,0,1,Yes,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...
5100,68398,Male,82.0,1,0,Yes,71.97,28.3,never smoked,0
5102,45010,Female,57.0,0,0,Yes,77.93,21.7,never smoked,0
5106,44873,Female,81.0,0,0,Yes,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,166.29,25.6,formerly smoked,0

In [7]:
numbered_file = clean_file
Gender = {'Male': 1,'Female': 2}
numbered_file.Gender = [Gender[item] for item in numbered_file.Gender]
EverMarried = {'Yes': 1,'No': 0}
numbered_file.EverMarried = [EverMarried[item] for item in numbered_file.EverMarried]
SmokingStatus = {'never smoked': 1,'formerly smoked': 2, 'smokes': 3}
numbered_file.SmokingStatus = [SmokingStatus[item] for item in numbered_file.SmokingStatus]
numbered_file

,ID,Gender,Age,Hypertension,HeartDisease,EverMarried,AvgGlucoseLevel,BMI,SmokingStatus,Stroke
0,9046,1,67.0,0,1,1,228.69,36.6,2,1
2,31112,1,80.0,0,1,1,105.92,32.5,1,1
3,60182,2,49.0,0,0,1,171.23,34.4,3,1
4,1665,2,79.0,1,0,1,174.12,24.0,1,1
5,56669,1,81.0,0,0,1,186.21,29.0,2,1
...,...,...,...,...,...,...,...,...,...,...
5100,68398,1,82.0,1,0,1,71.97,28.3,1,0
5102,45010,2,57.0,0,0,1,77.93,21.7,1,0
5106,44873,2,81.0,0,0,1,125.20,40.0,1,0
5107,19723,2,35.0,0,0,1,82.99,30.6,1,0
5108,37544,1,51.0,0,0,1,166.29,25.6,2,0

In [8]:
#clean_file.to_csv(r'C:\Users\garre\OneDrive\Desktop\strokepredictor\dataset\cleanedstrokedata.csv', encoding='utf-8', index=False)

In [9]:
from sklearn.model_selection import train_test_split
X=numbered_file[["Gender", "Age", "Hypertension", "HeartDisease", "EverMarried", "AvgGlucoseLevel", "BMI", "SmokingStatus"]]
y=numbered_file["Stroke"]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=100000)
classifier

LogisticRegression(max_iter=100000)

In [11]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=100000)

In [12]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9272930648769575
Testing Data Score: 0.9463986599664992

In [13]:
predictions = classifier.predict(X_train)
pd.DataFrame({"Prediction": predictions, "Actual": y_train})

      Prediction  Actual
577            0       0
846            0       0
155            0       1
2835           0       0
184            0       1
...          ...     ...
3478           0       0
2312           0       0
2400           0       0
2737           0       0
1786           0       0

[1788 rows x 2 columns]

In [16]:
xnew = [[1,20,1,0,0,80,22.5,1]]

In [17]:
ynew = classifier.predict(xnew)
print(ynew)

[0]